$margin: 2rem;
$lineDistance: -0.3rem;

.custom-link {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  transition: color 0.05s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: auto;
  text-decoration: none;
  margin-left: $margin; /* Adjusted margin to push links to the right */
  letter-spacing: 1px;

  /* Define the line that will appear on hover */
  &::after {
    content: "";
    position: absolute;
    left: 50%; /* Position the line at the center horizontally */
    bottom: $lineDistance; /* Adjust this value to control the distance of the line from the text */
    width: 0; /* Initially, the line has zero width */
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, #fff, transparent) 1;
    transform: translateX(-50%); /* Move the line back by half of its width to center it */
    transition: width 0.1s ease-out; /* Add a smooth transition effect only for width */
  }

  /* Expand the line on hover */
  &:hover::after, &:focus::after {
    width: 100%; /* On hover, the line will expand to 100% width */
  }

  &:hover, &:active, &:focus{
    color: white;
  }
}

.custom-link-active {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  transition: color 0.05s;
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: auto;
  text-decoration: none;
  margin-left: $margin; /* Adjusted margin to push links to the right */
  letter-spacing: 1px;

  /* Define the line that will appear on hover */
  &::after {
    content: "";
    position: absolute;
    left: 50%; /* Position the line at the center horizontally */
    bottom: $lineDistance; /* Adjust this value to control the distance of the line from the text */
    width: 100%; /* On hover, the line will expand to 100% width */
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, #fff, transparent) 1;
    transform: translateX(-50%); /* Move the line back by half of its width to center it */
    transition: width 0.1s ease-out; /* Add a smooth transition effect only for width */
  }
}