/* Menu.css */
.menu-container {
    height: 100vh; /* Set the container to fill the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-title {
    font-size: 9rem; /* Adjust this value to make the title bigger */
    color: white;
    font-family: CinReg;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Media Query for small screens (phones) */
    @media screen and (max-width: 768px) {
        font-size: 4rem; /* Adjust the font size for small screens */
        /* Add any other specific styles you want for small screens here */
    }

    /* Media Query for medium screens (tablets) */
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 7rem; /* Adjust the font size for medium screens */
        /* Add any other specific styles you want for medium screens here */
    }
}

.menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em; /* Adjust this value to add spacing between menu buttons */
    z-index: 2;
    margin-top: 1em;
}  

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.menu{
    background-image: linear-gradient(#3F154A, #000000);
}

b{
    font-weight: bolder;
}
